@font-face {
  font-family: 'CircularStd';
  font-weight: 400;
  font-style: normal;
  src: local('CircularStd'), url('CircularStd-Book.otf') format('opentype');
}

@font-face {
  font-family: 'CircularStd';
  font-weight: 500;
  font-style: normal;
  src: local('CircularStd'), url('CircularStd-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'CircularStd';
  font-weight: 700;
  font-style: normal;
  src: local('CircularStd'), url('CircularStd-Bold.otf') format('opentype');
}



@font-face {
  font-family: 'Poppins';
  font-weight: 100;
  font-style: normal;
  src: local('Poppins'), url('Poppins-Thin.ttf') format('opentype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 200;
  font-style: normal;
  src: local('Poppins'), url('Poppins-ExtraLight.ttf') format('opentype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 300;
  font-style: normal;
  src: local('Poppins'), url('Poppins-Light.ttf') format('opentype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: normal;
  src: local('Poppins'), url('Poppins-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-style: normal;
  src: local('Poppins'), url('Poppins-Medium.ttf') format('opentype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: normal;
  src: local('Poppins'), url('Poppins-SemiBold.ttf') format('opentype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  font-style: normal;
  src: local('Poppins'), url('Poppins-Bold.ttf') format('opentype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 800;
  font-style: normal;
  src: local('Poppins'), url('Poppins-ExtraBold.ttf') format('opentype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 900;
  font-style: normal;
  src: local('Poppins'), url('Poppins-Black.ttf') format('opentype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: italic;
  src: local('Poppins'), url('Poppins-Italic.ttf') format('opentype');
}